* {
    margin: 0px auto;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px 25px;
    margin-top: 50px;
    margin-bottom: 25px;
}