:root {
    --primary-color: black;
    --secondary-color: lightgray;
    --extra-color: white;
    --border: 1px solid darkgray;
}

* {
    margin: 0px auto;
    text-align: center;
}

body {
    padding: 50px;
}

table {
    border-collapse: collapse;
}

tr,th,td {
    padding: 10px 25px;
}

thead {
    background-color: var(--primary-color);
    color: var(--extra-color);
}

thead th:nth-child(even), thead th:nth-child(3) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

thead th:nth-child(1) {
    border-top: none;
}

tbody tr:nth-child(even) {
    background-color: var(--secondary-color);
}

th {
    font-size: larger;
    font-weight: bolder;
    text-wrap: nowrap;
}

td,th {
    border-top: var(--border);
    border-right: var(--border);
}

thead th:first-child, tbody th {
    border-left: var(--border);
}

tbody tr + tr + tr th, tbody tr + tr + tr td {
    border-bottom: var(--border);
}

caption {
    position: relative;
    top: 250px;
}