:root {
    /* Color palette (page) */
    --primary-color: #68190b;
    --secondary-color: #151515;
    --accent-color: #EBEBEB;
    /* Fonts */
    --main-fonts: Anta, serif, Arial;
    --altern-fonts: "Familjen Grotesk", sans-serif, Cambria;
}

body, a {
    font-family: var(--altern-fonts);
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body h1, body h2 {
    font-family: var(--main-fonts);
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5rem;
    max-width: 50%;
    margin: auto 0px ;
}

.join {
    font-family: var(--main-fonts);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-color);
    align-self: center;
    background-color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    padding: 16px 0px;
    margin: auto 0px;
}

.join:hover {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

nav {
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
    margin: auto;
}

nav a {
    display: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    color: var(--accent-color);
}

nav a:hover, #discover-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

#nav-menu {
    width: 100%;
    height: 50px;
    border-radius: 0%;
    font-size: 30px;
    background-color: var(--accent-color);
    border-top: 10px solid var(--secondary-color);
    color: var(--secondary-color);
}

#nav-menu::before {
    content: "⥥";
}

#nav-menu.show::before {
    content: "⥣";
}

.show a {
    display: block;
}

#active {
    background-color: var(--secondary-color);
}

#active:hover {
    color: var(--accent-color);
}

#upper-section {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

#upper-section img {
    width: 100%;
}

#upper-section h2 {
    text-decoration: underline 5px;
}

#lower-section {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

#lower-h, #discover-button {
    display: block;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    height: 25px;
    width: 200px;
    margin: 0px auto;
    padding: 10px;
}

#discover-button {
    font-weight: bold;
    font-family: var(--main-fonts);
    padding: 0px;
    margin: 0px auto;
    position: relative;
    top: 22px;
    padding: 10px 10px 30px;
}

article {
    align-self: center;
    text-align: center;
    width: 100%;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin: 50px 0px;
}

article h2 {
    text-align: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    border: 5px solid var(--secondary-color);
    border-radius: 0px 10px;
    width: 200px;
    position: relative;
    top: -30px;
    margin: 0px auto;
    padding: 10px;
}

article ul {
    padding: 25px;
    margin-top: -50px;
}

article li {
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin-top: 25px;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

article li img {
    width: 100%;
}

article img {
    width: 80%;
}

#cta-card p{
    width: 80%;
    text-align: center;
    margin: 10px auto 0px;
    padding: 10px;
    border: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 5px;
}

#cta-card img {
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
}

#cta-card .join {
    display: block;
    margin: 25px auto;
}

address {
    margin-bottom: 25px;
}

footer {
    margin-top: 25px;
    text-align: center;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px 25px;
}

nav, footer {
    border-top: 5px solid var(--secondary-color);
}