@media (min-width: 640px) {
    
    header {
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav a {
        display: block;
        padding: 10px 50px 10px 50px;
    }

    #nav-menu {
        display: none;
    }

    #lower-section {
        padding: 25px 125px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    article h2 {
        left: 40%;
    }
}