:root {
    --main-color: lightgray;
    --secondary-color: black;
    --accent-color: darkgray;
    --highlight-color: red;

    --headers-fonts: "carter One", arial;
    --paragraphs-fonts: Unbounded, garamond;

    --font-main-color: black;
    --font-altern-color: white;
}

body {
    margin: 0 auto;
    padding: 0;
	box-sizing: border-box;
    font-family: var(--paragraphs-fonts);
}

header {
    display: flex;
    height: auto;
    font-family: var(--headers-fonts);
    padding: 25px;
}

header span {
    margin-left: 25px;
    font-size: 25px;
    text-shadow: 5px 5px 10px var(--accent-color);
}

header img {
    height: 150px;
    box-shadow: 5px 5px 10px var(--accent-color);
    border-radius: 15%;
}

nav {
    background-color: var(--secondary-color);
    border-top: 5px solid var(--highlight-color);
    border-bottom: 5px solid var(--highlight-color);
    height: auto;
}

nav ul, section ul {
	list-style-type: none;
    padding-inline-start: 0px;
    margin: auto;
}

nav a {
    display: block;
    padding: 25px;
    font-family: var(--paragraphs-fonts);
    color: var(--font-altern-color);
}

nav a:hover {
    color: var(--highlight-color);
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main h1 {
    margin-top: 50px;
    font-size: 25px;
    text-decoration: underline var(--accent-color);
}

section a {
    color: var(--font-main-color);
}

.card {
    display: block;
    border: 3px solid var(--accent-color);
    margin: auto;
    padding: 25px;
    border-radius: 5%;
}

.card li {
    font-size: 15px;
    text-align: justify;
    padding: 5px;
}

.card h2 {
    font-size: 20px;
}

footer {
    margin-top: 25px;
    height: 100px;
    align-content: center;
}

nav a, section a {
    text-decoration: none;
}

footer p, nav a {
    text-align: center;
}

header, footer {
    justify-content: space-evenly;
    align-items: center;
}

header, footer {
    background-color: var(--main-color);
}

.active {
    background-color: var(--highlight-color);
}

.active:hover {
    color: var(--font-altern-color);
}