:root {
    --main-color: #1d5890;
    --secondary-color: darkgray;
    --accent-color: #151515;

    --headers-fonts: "carter One", serif, arial;
    --paragraphs-fonts: Unbounded, sans-serif, garamond;

    --font-main-color: black;
    --font-altern-color: white;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: var(--paragraphs-fonts);
}

header {
    display: flex;
    align-items: center;
    font-family: var(--headers-fonts);
    padding: 25px;
    gap: 15px;
}

header img {
    border-radius: 15%;
}

header span {
    font-size: 20px;
    color: var(--font-altern-color);
    text-shadow: 5px 5px 5px var(--accent-color);
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#mode-selector {
    text-align: center;
    font-size: 42px;
    color: var(--font-altern-color);
}

#mode-selector, #nav-menu {
    width: 50px;
    height: 50px;
}

#nav-menu {
    border-radius: 100%;
}

#nav-menu span{
    display: none;
}

#nav-menu::before {
    content: "☰ ";
    font-size: 30px;
}

#nav-menu.show::before {
    content: "✖️ ";
    font-size: 30px;
    margin: 0px -8px;
}

.show a {
    display: block;
}

nav {
    background-color: var(--secondary-color);
    border-bottom: 5px solid var(--accent-color);
}

nav a {
    display: none;
    padding: 10px 50px 10px 50px;
    font-size: 15px;
    font-family: var(--paragraphs-fonts);
    color: var(--font-main-color);
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--font-altern-color);
    cursor: crosshair;
}

.active {
    background-color: var(--accent-color);
    color: var(--font-altern-color);
}

.active:hover {
    cursor: pointer;
}

.active:before {
    content: "» ";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

main h1 {
    margin: 35px 0px;
    font-size: 25px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h3 {
    text-align: left;
    white-space: nowrap;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 25px;
    right: 0px;
    text-shadow: 2px 2px 2px var(--font-altern-color);
    color: var(--accent-color);
}

.card {
    margin: auto;
    width: 75%;
}

.card h2 {
    font-size: 20px;
    padding: 25px;
    margin: 0px 0px 5px 0px;
    color: var(--font-altern-color);
    border-bottom: 5px solid var(--accent-color);
}

.card li {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    gap: 10px;
}

.card li p {
margin: 25px auto 0px;
text-align: center;
}

#counter{
    margin: 0px auto 50px;
}

.card span {
    display: none;
}

.card a {
    font-weight: bold;
    color: var(--main-color);
}

iframe {
    width: 75%;
    margin: 25px auto;
}

footer {
    margin-top: 25px;
    border-top: 5px solid var(--accent-color);
    align-content: center;
    color: var(--font-altern-color);
}

header, footer {
    justify-content: space-evenly;
}

nav ul, section ul {
	list-style-type: none;
    padding-inline-start: 0px;
    margin: auto;
}

nav a, section a {
    text-decoration: none;
}

main h1, .hero h3 {
    text-decoration: underline var(--secondary-color) 5px;
    font-family: var(--headers-fonts);
}

.hero, iframe {
    animation: fade 10s;
}

.card, iframe {
    box-shadow: 5px 5px 25px var(--accent-color);
    border: 5px solid var(--accent-color);
    border-radius: 5px;
}

header, footer, .card h2 {
    background-image: linear-gradient(to right, var(--accent-color),var(--main-color), var(--secondary-color));
}

#thanks {
    padding: 125px 5px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}