@media (min-width: 640px) {
	nav ul {
		display: flex;
		justify-content: space-evenly;
	}

	main {
		max-width: 800px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
	}

	main h1 {
		grid-column: 1/4;
	}
}