@media (min-width: 640px) {

	header {
		justify-content: center;
	}

	header span {
		font-size: 50px;
	}

	nav ul {
		display: flex;
		justify-content: space-evenly;
	}

	main {
		max-width: 800px;
		margin: 0 auto;
		grid-template-columns: 3fr 1fr;
		padding-left: 25px;
		padding-bottom: 25px;
		column-gap: 50px;
	}

	.card {
		width: 100%;
		height: 100%;
	}

	main h1 {
		grid-column: 1/4;

	}

}