@media (min-width: 640px) {

	header {
		justify-content: center;
	}
	header span {
		font-size: 50px;
	}

	nav ul {
		display: flex;
		justify-content: space-evenly;
	}

	main {
		max-width: 800px;
		margin: 0 auto;
		grid-template-columns: repeat(2, 1fr);
	}

	main h1 {
		grid-column: 1/4;
	}

}